  * {
    margin: 0;
    padding: 0;
  }

  html {
    overflow-y: overlay;
  }

  a {
    text-indent: 0;
    text-decoration: none;
    text-decoration-style: none;
    color: #000;
  }

  .main {
    width: 100%;
    margin: 0 auto;
  }


  /* 页头 */
  .main .header {
    width: 100%;
    height: 92px;
    margin: 0 auto;
    background-color: #f8f9fd;
    position: fixed;
    top: 0px;
    z-index: 1;
  }

  .header .header-box {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* 左侧logo */
  .header .header-box .logo {
    width: 166px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }

  .header .header-box .logo .img {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header .header-box .logo .img .text {
    width: 166px;
    height: 26px;
    font-size: 28px;
    font-family: OpenSans;
    color: #3A6CF1;
    line-height: 26px;
  }

  /* 左侧logo */


  /* .header .header-box .logo .img img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */
  /* 右侧导航 */

  .header .header-box .nav {
    width: 50%;
    height: 100%;
    font-family: 'MicrosoftYaHei';
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* 导航内容 */
  .header-box .nav .nav-content {
    width: 100%;
    height: 23px;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav .nav-content .nav-content-item {
    cursor: pointer;
  }

  .nav .nav-content .navcolor {
    color: #3a6cf1;
  }

  .nav .nav-content .nav-content-item a:hover {
    color: #3a6cf1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  /* 导航内容 */
  /* 导航按钮 */

  .header .header-box .nav .nav-btn {
    width: 130px;
    height: 44px;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    background-color: #3a6cf1;
    color: white;
  }

  /* 导航按钮 */
  /* 右侧导航 */
  /* 页头 */
  /* 版心 */
  .mdq {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
  }

  .section {
    height: 100vh !important;
    scroll-snap-align: start;
    display: table;
  }

  .mdq .banner {
    width: 80%;
    height: 600px;
    /* background-color: blue; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mdq .banner .left {
    width: 40%;
    font-family: 'MicrosoftYaHei';
  }

  .mdq .banner .left .banner-title {
    width: 400px;
    height: 48px;
    font-size: 48px;
    color: #2E3233;
    line-height: 48px;
    letter-spacing: 1px;
    margin-top: 77px;
  }

  .mdq .banner .left .banner-content {
    width: 267px;
    height: 144px;
    font-size: 16px;
    color: #2E3233;
    line-height: 28px;
    margin-top: 22px;
  }

  .mdq .banner .left .banner-btn {
    width: 130px;
    height: 44px;
    background: #3A6CF1;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner .left .banner-btn .btn {
    width: 82px;
    height: 26px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 26px;
    text-align: center;
  }

  .mdq .content {
    /* height: 450px; */
    margin: 0 auto;
    margin-top: 77px;
    text-align: center;
    font-family: 'MicrosoftYaHei';
  }

  .mdq .content .card {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .mdq .content .top-title {
    height: 40px;
    font-size: 30px;
    font-family: MicrosoftYaHeiSemibold;
    color: #2E3233;
    letter-spacing: 1px;
    margin: 120px 0 55px 0;
  }

  .mdq .card-content {
    width: 50%;
    margin: 0 auto;
    line-height: 50px;
    display: flex;
    text-align: center;
    justify-content: space-around;
  }

  .mdq .card-content span {
    width: 24px;
    height: 59px;
    color: #FFFFFF;
    font-size: 40px;
    background-color: #3A6CF1;
    border-radius: 50%;
    padding: 10px 25px;
  }

  .mdq .card-img {
    /* width: 768px; */
    /* height: 403px; */
    margin: 0 auto;
  }

  .mdq .card-img img {
    margin-top: 13px;
  }

  /* 版心 */
  /* 系统特效 */
  .mdq .content .card2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .mdq .card2 .lower {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mdq .card2 .group {
    /* width: 25%; */
    width: 250px;
    height: 360px;
    background-color: #F8F9FD;
    margin: 0 28px 0 28px;
    border-radius: 6px;
  }

  .mdq .card2 .group img {
    width: 110px;
    height: 110px;
    margin: 53px 0 36px 0;
  }

  .mdq .card2 .group span {
    font-weight: bold;
  }

  .mdq .card2 .group .text {
    margin-top: 14px;
  }

  .mdq .card2 .group .text p {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 20px;
  }


  /* 版心 */
  /* 系统特点 */
  .mdq .content .card3 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .mdq .card3 .left {
    width: 59%;
    display: inline-block;
  }

  .mdq .card3 .card-item {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }

  .mdq .card3 .left div {
    display: flex;
    margin: 20px;
  }

  .mdq .card3 .left img {
    width: 34px;
    height: 34px;
  }

  .mdq .card3 .left p {
    line-height: 35px;
    margin: 0 0 0px 10px;
    text-align: left;
  }

  .mdq .card3 .right {
    width: 40%;
    display: inline-block;
  }

  .mdq .card3 .right img {
    width: 493px;
    height: 410px;
  }

  /* 底部 */
  .footer {
    width: 100%;
    height: 410px;
    background-color: #396CF0;
    text-align: center;
  }

  .footer .top {
    text-align: left;
    display: flex;
    padding-top: 81px;
    justify-content: space-around;
  }

  .footer .top .conter dd {
    display: flex;
  }

  .footer .top .conter dd img {
    width: 16px;
    height: 16px;
  }

  .footer .top .conter p {
    margin-left: 11px;
  }

  .footer dl {
    width: 280px;
  }

  .footer dt {
    color: #FFFFFF;
    font-weight: 700;
  }

  .footer dd {
    margin-top: 25px;
    color: #97B4FC;
  }

  .footer .bottom {
    height: 79px;
    margin-top: 40px;
    border-top: 1px solid #5984F3;
  }

  .footer .bottom p {
    color: #FFFFFF;
    ;
    margin-top: 29px;
  }

  .shoping {
    width: 35px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #707070;
    /* opacity: 0.5; */
    position: fixed;
    right: 49px;
    bottom: 30px;
    border-radius: 50%;
  }

  .shoping .sping {
    color: #707070;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shoping svg {
    width: 30px;
    height: 30px;
    margin: 4px;
  }
